@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@custom-variant dark (&:where(.dark, .dark *));

/* Tailwind */

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@source "../../lib/**/*.*ex";

@theme {
  --font-family-sans: "Oswald", sans-serif;
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;

  --spacing-72: 18rem;
  --spacing-84: 21rem;
  --spacing-96: 24rem;
}
