/* Tailwind */

@import "tailwindcss";
@plugin "@tailwindcss/forms";

@source "../../lib/**/*.*ex";

@theme {
  --font-family-sans: "Inter var", sans-serif;
  --font-family-mono: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;

  --spacing-72: 18rem;
  --spacing-84: 21rem;
  --spacing-96: 24rem;
}
